* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  text-align: center;
  background-image: linear-gradient(#eef4fe, #fff);
  background-repeat: no-repeat;
}

h1 {
  margin-top: 5%;
}

p {
  margin-bottom: 5%;
}

* p {
  color: #1c1919ab;
}

main {
  border-radius: 10px;
  width: 32%;
  margin: 0 auto;
  background-color: #ffff;
  box-shadow: 0px 0px 20px 5px rgb(0 0 0 / 15%);
}

ul {
  list-style-type: none;
  padding: 0;
}
/* Pricing section */

.pricing {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.slidecontainer {
  width: 100%;
}

.full-text {
  background: #ff8f1a42;
  color: #da6716;
  padding: 4px;
  border-radius: 10px;
}

.pricing p,
.billing-section p,
.trial-section p {
  font-size: 13px;
  color: #1c1919ab;
}

span#dollar-amount {
  color: black;
}

.pricing-section,
.pageviews-section {
  padding: 35px;
}

#dollar-amount {
  font-size: 30px;
}

.short-text {
  display: none;
}

/* Slidebar */

.slide-bar {
  width: 75%;
}

input[type="range"] {
  -webkit-appearance: none;
  height: 7px;
  border-radius: 8px;
  overflow: hidden;
  background-color: #eef4fe;
}

input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 35px;
  width: 35px;
  border: 1px solid #18c28b;
  border-radius: 50%;
  background: #23a27ab5;
  cursor: pointer;
  box-shadow: -35px 0 0 #b1f8e0f2, -70px 0 0 #b1f8e0f2, -105px 0 0 #b1f8e0f2,
    -140px 0 0 #b1f8e0f2, -175px 0 0 #b1f8e0f2, -210px 0 0 #b1f8e0f2,
    -245px 0 0 #b1f8e0f2, -280px 0 0 #b1f8e0f2, -315px 0 0 #b1f8e0f2,
    -350px 0 0 #b1f8e0f2, -385px 0 0 #b1f8e0f2, -420px 0 0 #b1f8e0f2;
}

/* Billing */
.billing {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: #cccccc52 2px solid;
}

.billing-section {
  margin-right: 20px;
  margin-top: 25px;
  margin-bottom: 25px;
}

/* Toggle button */

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

label {
  margin-left: 10px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 22px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 16px;
  left: 1px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Trial section */

.trial {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 15px;
}

.trial-section {
  text-align: left;
}

.checkmark {
  color: #18c28b;
}

button {
  padding: 12px;
  width: 165px;
  border-radius: 19px;
  background-color: rgb(11 11 51 / 83%);
  color: #b8c5e6fc;
  border: none;
}

@media screen and (min-width: 320px) and (max-width: 425px) {
  header h1 {
    font-size: 20px;
    margin-top: 10%;
  }

  header p {
    font-size: 15px;
  }

  main {
    width: 80%;
  }

  .pricing-section {
    order: 1;
    padding: 20px;
  }

  .short-text {
    display: inline-block;
    background: #ff8f1a42;
    color: #da6716;
    padding: 4px;
    border-radius: 10px;
  }
  .full-text {
    display: none;
  }

  .billing-section {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
  }

  .billing-section p {
    font-size: 10px;
  }

  .trial {
    flex-direction: column;
    padding-bottom: 25px;
  }

  /* Toggle Slider */

  span.slider.round {
    margin-right: 5px;
  }

  .switch {
    width: 35px;
    height: 20px;
  }

  .slider:before {
    height: 12px;
    width: 12px;
    left: 3px;
  }

  input:checked + .slider:before {
    transform: translateX(12px);
  }

  ul {
    padding-bottom: 15px;
  }
}

@media screen and (min-width: 426px) and (max-width: 1025px) {
  header h1 {
    font-size: 30px;
    margin-top: 10%;
  }

  header p {
    font-size: 17px;
  }

  main {
    width: 65%;
  }

  .pricing-section {
    order: 1;
    padding: 20px;
  }

  .short-text {
    display: inline-block;
    background: #ff8f1a42;
    color: #da6716;
    padding: 4px;
    border-radius: 10px;
  }
  .full-text {
    display: none;
  }

  .billing-section {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
  }

  .trial {
    flex-direction: column;
    padding-bottom: 25px;
  }

  .switch {
    width: 35px;
    height: 20px;
  }

  label {
    margin-left: 3px;
    margin-right: 3px;
  }

  ul {
    padding-bottom: 15px;
  }

  input:checked + .slider:before {
    transform: translateX(15px);
  }

  .slider:before {
    height: 14px;
    width: 14px;
  }
}
